@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap");

body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: Montserrat;
	color: #252b42;
	background: #fafafa;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1076px;
	padding: 0 15px;
	margin: 0 auto;
}
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
// ----HEADER-BLOCK------------------------------------------------------------

.header-block {
	text-align: center;
	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 142%;
		letter-spacing: 0.2px;
		padding-bottom: 10px;
		@media (max-width: 992px) {
			font-size: 35px;
		}
		@media (max-width: 767px) {
			font-size: 30px;
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.2px;
		color: #737373;
	}
}
// ----ШАПКА------------------------------------------------------------
.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	&__container {
		display: flex;
		min-height: 104px;
		align-items: center;
		@media (max-width: 479px) {
			min-height: 75px;
		}
	}

	&__logo {
		font-weight: 700;
		font-size: 24px;
		letter-spacing: 0.1px;
		line-height: 133%;
		text-decoration: none;
		color: inherit;
	}

	&__menu {
		margin: 0 0 0 133px;
		@media (max-width: 992px) {
			margin: 0 0 0 80px;
		}
		@media (max-width: 767px) {
			margin: 0 0 0 40px;
		}
		@media (max-width: 479px) {
			margin: 0 0 0 20px;
		}
	}
}
.menu {
	padding: 5px 0;
	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__list-item {
		&:not(:last-child) {
			margin: 0 21px 0 0;
		}
	}

	&__link {
		color: #737373;
		text-decoration: none;
		font-weight: 600;
		line-height: 171%;
		text-align: center;
		@media (max-width: 479px) {
			font-size: 18px;
		}
	}
}
// ----MAIN------------------------------------------------------------
.page {
	&__main-block {
	}
}
.main-block {
	position: relative;
	&__container {
	}

	&__inner {
		padding: 184px 0px 191px 0px;
		position: relative;
		z-index: 2;
		max-width: 400px;
		@media (max-width: 992px) {
			padding: 110px 0px 191px 0px;
		}
		@media (max-width: 479px) {
			padding: 110px 0px 161px 0px;
		}
	}

	&__inner-title {
		font-weight: 800;
		font-size: 58px;
		line-height: 138%;
		letter-spacing: 0.2px;
		margin-bottom: 35px;
		@media (max-width: 479px) {
			font-size: 35px;
		}
	}

	&__inner-text {
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.2px;
		color: #737373;
		margin-bottom: 35px;
	}

	&__inner-buttons {
		display: flex;
		flex-wrap: wrap;
	}

	&__button {
		display: flex;
		justify-self: center;
		align-items: center;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.2px;
		color: #fff;
		border-radius: 37px;
		text-decoration: none;
		min-height: 48px;
		padding: 5px 36px;
		@media (max-width: 479px) {
			flex: 1 1 100%;
		}
		@media (min-width: 479px) {
			&:not(:last-child) {
				margin: 0px 10px 0px 0px;
			}
		}
	}

	&__button--orange {
		background: #ff7b47;
	}

	&__button--border {
		color: #0d5c63;
		border: 1px solid #0d5c63;
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@media (max-width: 992px) {
			opacity: 0.5;
		}
		img {
			@media (max-width: 1300px) {
				object-position: right;
			}
		}
	}
}
// ----SECVICES------------------------------------------------------------

.services {
	&__inner {
		position: relative;
		margin: -111px 0px 0px 0px;
		z-index: 2;
	}

	&__container {
	}

	&__body {
		@media (min-width: 670px) {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px -30px;
		}
	}

	&__column {
		padding: 0 15px;
		flex: 0 1 33.333%;
		margin: 0px 0px 30px 0px;
		@media (max-width: 992px) {
			flex: 0 1 50%;
			&:last-child {
				flex: 1 1 100%;
			}
		}
	}

	&__item {
		height: 100%;
		background: #ffffff;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		padding: 35px 40px;
		& > *:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		&--green {
			color: #fff;
			background: #0d5c63;
		}
		@media (max-width: 479px) {
			padding: 25px 30px;
		}
	}

	&__item-icon {
	}

	&__item-title {
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
	}

	&__item-text {
		color: #737373;
		font-weight: 500;
		line-height: 143%;
		letter-spacing: 0.2px;
		&--green {
			color: #fff;
		}
	}
}
// ----STATISTICS------------------------------------------------------------

.statistics {
	padding: 80px 0;
	@media (max-width: 992px) {
		padding: 55px 0;
	}
	@media (max-width: 767px) {
		padding: 30px 0;
	}
	&__inner {
	}

	&__container {
	}

	&__header {
		margin: 0px 0px 50px 0px;
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px -30px;
	}

	&__column {
		padding: 0 15px;
		margin: 0px 0px 30px 0px;
		flex: 0 1 25%;
		@media (max-width: 992px) {
			flex: 0 1 50%;
		}
		@media (max-width: 520px) {
			flex: 0 1 100%;
		}
	}

	&__item {
		padding: 30px;
		background: #ffffff;
		text-align: center;
	}

	&__item-icon {
		height: 48px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding-bottom: 10px;
	}

	&__item-value {
		font-weight: 700;
		font-size: 40px;
		line-height: 143%;
		letter-spacing: 0.2px;
		padding-bottom: 10px;
	}

	&__item-text {
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.1px;
		line-height: 150%;
		color: #737373;
	}
}
// ----ADVICE------------------------------------------------------------

.advice {
	padding: 125px 0px 80px 0px;
	@media (max-width: 993px) {
		padding: 50px 0px 80px 0px;
	}
	@media (max-width: 767px) {
		padding: 0px 0px 80px 0px;
	}
	&__inner {
	}

	&__container {
	}

	&__header {
		margin: 0px 0px 45px 0px;
		@media (max-width: 767px) {
			margin: 0px 0px 25px 0px;
		}
	}

	&__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -20px -30px;
	}

	&__column {
		padding: 0 20px;
		flex: 0 1 25%;
		margin: 0px 0px 30px 0px;
		@media (max-width: 992px) {
			flex: 0 1 50%;
		}
		@media (max-width: 520px) {
			flex: 0 1 100%;
		}
	}

	&__item {
	}
}
.item-advice {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fff;
	&__content {
		padding: 30px;
		flex: 1 1 auto;
	}

	&__link {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		padding-bottom: 15px;
	}

	&__text {
		font-weight: 500;
		line-height: 143%;
		color: #737373;
	}

	&__img {
		padding: 0px 0px 60% 0px;
	}
}
// ----WHOWEARE------------------------------------------------------------

.whoweare {
	background-color: #fff;
	padding: 100px 0px 136px 0px;
	@media (max-width: 950px) {
		padding: 50px 0px 50px 0px;
	}
	@media (max-width: 767px) {
		padding: 20px 0px 50px 0px;
	}
	&__inner {
	}

	&__container {
	}

	&__header {
		margin: 0px 0px 100px 0px;
		@media (max-width: 950px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__body {
		display: flex;
		align-items: flex-start;
		@media (max-width: 950px) {
			flex-direction: column-reverse;
			align-items: stretch;
		}
	}

	&__video {
		flex: 0 0 57%;
		position: relative;
		padding: 0px 0px 42.25% 0px;
		@media (max-width: 950px) {
			padding: 0px 0px 56.25% 0px;
		}
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__content {
		flex: 1 1 auto;
		padding: 20px 0px 0px 120px;
		@media (max-width: 1080px) {
			padding: 0px 0px 0px 50px;
		}
		@media (max-width: 950px) {
			margin: 0px 0px 50px 0px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 40px;
		line-height: 142%;
		letter-spacing: 0.2px;
		margin: 0px 0px 10px 0px;
		@media (max-width: 950px) {
			font-size: 30px;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.2px;
		color: #737373;
	}

	&__items {
		margin: 50px 0px 0px 0px;
	}

	&__item {
		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}
}
.item-whoweare {
	display: flex;
	&__icon {
		flex: 0 0 32px;
	}

	&__body {
		flex: 1 1 auto;
		padding: 0px 0px 0px 20px;
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		line-height: 150%;
		letter-spacing: 0.1px;
		&:not(:last-child) {
			margin: 0px 0px 5px 0px;
		}
	}

	&__text {
		font-weight: 600;
		line-height: 171%;
		letter-spacing: 0.2px;
		color: #737373;
	}
}
.clients {
	margin-bottom: 10px;
	&__inner {
		padding: 50px 0;
		@media (max-width: 767px) {
			padding: 25px 0;
		}
	}

	&__container {
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	&__item {
		flex: 0 1 16.666%;
		padding: 8px 15px;
		text-align: center;
	}
}
.subscribe {
	&__inner {
		position: relative;
		padding: 0px 0px 20px 0px;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 77px;
			background: #252b42;
			bottom: 0;
			left: 0;
		}
	}

	&__container {
	}

	&__body {
		position: relative;
		padding: 30px 40px 30px 50px;
		background: #17213c;
		border-radius: 2px;
		z-index: 2;
		@media (min-width: 1070px) {
			margin: 0 32px;
		}
		@media (min-width: 810px) {
			display: flex;
			justify-content: space-between;
		}
		@media (max-width: 810px) {
			padding: 20px 25px;
			margin: 0 -32px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		color: #ffffff;
		@media (max-width: 810px) {
			margin: 0px 0px 20px 0px;
		}
		@media (min-width: 810px) {
			max-width: 266px;
		}
	}

	&__form {
		flex: 0 1 50%;
		display: flex;
		align-items: center;
	}

	&__input {
		flex: 1 1 auto;
		min-height: 58px;
		background: #f9f9f9;
		border: 1px solid #e6e6e6;
		border-radius: 5px 0 0 5px;
		padding: 15px 0px 15px 20px;
		color: #737373;
		&:focus {
			color: #000;
		}
	}

	&__btn {
		background: #ff7b47;
		border: 1px solid #e6e6e6;
		border-radius: 0px 5px 5px 0px;
		display: flex;
		min-height: 58px;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 15px 22.5px;
		color: #fff;
		@media (max-width: 810px) {
			padding: 10px 17.5px;
		}
	}
}

.info {
	&__inner {
		padding: 80px 0px 135px 0px;
		@media (max-width: 992px) {
			padding: 50px 0px 60px 0px;
		}
	}

	&__container {
	}

	&__header {
		margin: 0px 0px 80px 0px;
		@media (max-width: 992px) {
			margin: 0px 0px 50px 0px;
		}
		@media (max-width: 992px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__items {
		margin: 0 -15px;
		@media (min-width: 992px) {
			margin: 0;
			display: flex;
			align-items: center;
		}
	}

	&__item {
		flex: 0 1 33.333%;
	}
}
.item-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px 40px;
	& > *:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
	&--active {
		background: #252b42;
		color: #fff;
		padding: 80px 40px;
		@media (max-width: 992px) {
			padding: 50px 30px;
		}
	}
	&__text {
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: 0.1px;
	}

	&__emails {
		display: flex;
		flex-direction: column;
	}

	&__email {
		color: inherit;
		font-weight: 600;
		line-height: 171%;
		letter-spacing: 0.2px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	&__btn {
		border: 1px solid #ff7b47;
		border-radius: 5px;
		display: flex;
		min-height: 44px;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: #ff7b47;
		padding: 10px 20px;
		font-weight: 600;
		line-height: 171%;
		letter-spacing: 0.2px;
		text-decoration: none;
		transition: all 0.3s;
		&:hover {
			background-color: #ff7b47;
			color: #fff;
		}
	}

	&__btn--active {
		border: 1px solid #ffffff;
		color: #fff;
	}
}
.contact {
	&__inner {
		padding: 40px 0;
		background-color: #fff;
	}

	&__container {
	}

	&__body {
		@media (min-width: 767px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 0px 0px 20px 0px;
		@media (min-width: 767px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0px 20px 0px 0px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: 0.1px;
		margin: 0px 0px 10px 0px;
	}

	&__subtitle {
		font-weight: 500;
		line-height: 143%;
		letter-spacing: 0.2px;
		color: #737373;
	}

	&__btn {
		background: #ff7b47;
		border-radius: 5px;
		display: flex;
		min-height: 58px;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 15px 40px;
		font-weight: 700;
		line-height: 150%;
		letter-spacing: 0.2px;
		color: #fff;
		text-decoration: none;
		transition: background 0.3s;
		&:hover {
			background: #8b4124;
		}
	}
}

// ----Підвал------------------------------------------------------------
.footer {
}
